.App{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left: 21%;
    margin-top: -148px;
}

.card{
    background: black;
    padding: 3rem 4rem;
    cursor: pointer;
    color: white;
}

.card p{
    padding-top: 1rem;
    line-height: 150%;
}

.expand{
    width: 35rem;
}